@import "Variables";

.fs-card {

  &__media {
    background-image: url("https://media.gettyimages.com/photos/various-fresh-flowers-against-white-background-picture-id733516645");
  }

  &__primary {
    padding: 1rem;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    margin: 0;
    color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54))
  }

  &__secondary {
    padding: 0 1rem 8px;
    color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54))
  }

  &--small {
    width: $fs-card-width;
  }

  &--medium {
    width: calc(#{$fs-card-width} * 2);
  }

  &--large {
    width: calc(#{$fs-card-width} * 3);
  }
}
