@import "Variables";

.fp-content-wrapper {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 2 * #{$fp-top-app-bar-height});
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: $fp-top-app-bar-height;
}
