.fs- {
  &form {
    display: flex;
    flex-direction: column;
    margin: 16px;

    > * {
      margin-top: 16px;
    }

    > *:first-child,
    > .mdc-text-field-helper-text,
    .mdc-text-field-helper-text + * {
      margin-top: 0;
    }

    > .mdc-text-field-helper-text::before {
      vertical-align: middle;
    }

    &__row {
      display: flex;
      flex-direction: row;

      > * {
        margin-left: 8px;
      }

      > *:first-child {
        margin-left: 0;
      }
    }
  }
}

.mdc-text-field__icon {
  text-decoration: none;
}
