.fs-product-detail {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  padding: 8px;
  max-width: 800px;
  min-width: 400px;

  &__image {
    display: block;
    width: 400px;
    height: 400px;

    background-image: url("https://media.gettyimages.com/photos/various-fresh-flowers-against-white-background-picture-id733516645");
    background-size: cover;
  }
}