<html xmlns:th="http://www.thymeleaf.org">
<div id="fs-add-items-dialog"
     class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content" th:fragment="add_flowers_dialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
            <h2 class="mdc-dialog__title"><!---->Choose Flowers<!----></h2>
            <div class="mdc-dialog__content">
                <ul id="fs-add-items-list" class="mdc-list">
                    <th:block th:each="item, iteration : ${flowerShopItems}">
                        <li class="mdc-list-item" th:tabindex="${iteration.index}">
                            <span class="mdc-list-item__graphic">
                                <div class="mdc-checkbox fs-choose-flower-dialog__checkbox">
                                    <input type="checkbox"
                                           class="mdc-checkbox__native-control"
                                           th:value="${item.id}"
                                           th:id="${item.id}"
                                           th:field="*{selectedFlowerShopItems}"/>
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark-path"
                                                  fill="none"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                        </svg>
                                      <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                  </div>
                            </span>
                            <label th:for="${item.id}" class="mdc-list-item__text" th:text="${item.name}">Flower</label>
                        </li>
                        <div class="mdc-text-field fs-choose-flower-dialog__quantity-input">
                            <input class="mdc-text-field__input" th:type="number" step="1" min="1" th:field="*{quantities[__${item.id}__]}">
                            <label th:for="'quantities' + ${item.id}" class="mdc-floating-label" >Quantity</label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                    </th:block>
                </ul>
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">Cancel
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">OK</button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>
<div id="fs-add-services-dialog"
     class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content" th:fragment="add_services_dialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
            <h2 class="mdc-dialog__title"><!---->Choose Services<!----></h2>
            <div class="mdc-dialog__content">
                <ul id="fs-add-services-list" class="mdc-list">
                    <th:block th:each="service, iteration : ${flowerShopServices}">
                        <li class="mdc-list-item" th:tabindex="${iteration.index}">
                            <span class="mdc-list-item__graphic">
                                <div class="mdc-checkbox">
                                    <input type="checkbox"
                                           class="mdc-checkbox__native-control"
                                           th:value="${service.id}"
                                           th:id="${service.id}"
                                           th:field="*{selectedFlowerShopServices}"/>
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark-path"
                                                  fill="none"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                        </svg>
                                      <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                  </div>
                            </span>
                            <label th:for="${service.id}" class="mdc-list-item__text" th:text="${service.name}">Service</label>
                        </li>
                    </th:block>
                </ul>
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">Cancel
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">OK</button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>
</html>