<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<aside class="mdc-drawer mdc-drawer--modal" th:fragment="drawer">
    <div class="mdc-drawer__header" sec:authorize="isAuthenticated()">
        <h3 class="mdc-drawer__title" th:text="${loggedIn.userAccount.username}"></h3>
        <h6 class="mdc-drawer__subtitle" th:text="${loggedIn.userAccount.email}"></h6>
    </div>
    <div class="mdc-drawer__content">
        <div class="mdc-list">
            <a class="mdc-list-item mdc-list-item--activated" th:href="@{/products}" aria-selected="true">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_module</i>
                <span class="mdc-list-item__text">Products</span>
            </a>
            <a class="mdc-list-item" th:href="@{/products/items/stock}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_florist</i>
                <span class="mdc-list-item__text">Items</span>
            </a>
            <a class="mdc-list-item" th:href="@{/products/services}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">waves</i>
                <span class="mdc-list-item__text">Services</span>
            </a>
            <a class="mdc-list-item" sec:authorize="hasRole('ROLE_BOSS')" th:href="@{/users}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">people</i>
                <span class="mdc-list-item__text">Users</span>
            </a>
            <a class="mdc-list-item" sec:authorize="!isAuthenticated()" th:href="@{/register}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person_add</i>
                <span class="mdc-list-item__text">Sign up</span>
            </a>
            <a class="mdc-list-item" sec:authorize="isAuthenticated()" th:href="@{/account}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person</i>
                <span class="mdc-list-item__text">Account</span>
            </a>
            <a class="mdc-list-item" sec:authorize="isAuthenticated()" th:href="@{/logout}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">lock</i>
                <span class="mdc-list-item__text">Sign out</span>
            </a>
            <a class="mdc-list-item" sec:authorize="!isAuthenticated()" th:href="@{/login}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">lock_open</i>
                <span class="mdc-list-item__text">Sign in</span>
            </a>

        </div>
    </div>
</aside>
</html>
