<html xmlns:th="http://www.thymeleaf.org">
<header class="mdc-top-app-bar mdc-top-app-bar--fixed" th:fragment="header_catalog (action)">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
            <span class="mdc-top-app-bar__title">Flower Power</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar" th:include="${action}">
            <button th:replace="fragments/flags :: #{lang.flag}"></button>
            <!--<a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Cart" alt="Cart">shopping_cart</a>-->
        </section>
    </div>
</header>
<header class="mdc-top-app-bar mdc-top-app-bar--fixed fs-dialog-header" th:fragment="header_dialog">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span th:if="${title}" class="mdc-top-app-bar__title" th:text="${title}"></span>
            <span th:unless="${title}" class="mdc-top-app-bar__title">Dialog Title</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <a th:href="${cancel_destination}" class="material-icons mdc-top-app-bar__action-item" aria-label="Cancel" alt="Cancel">cancel</a>
        </section>
    </div>
</header>
</html>