<div class="fp-my-card mdc-card" th:fragment="product_card">
    <div class="mdc-card__primary-action">
        <div class="fp-my-card__media mdc-card__media mdc-card__media--16-9"></div>
        <div class="fp-my-card__primary">
            <h2 class="fp-my-card__title mdc-typography--headline6">Flower!</h2>
            <h3 class="fp-my-card__subtitle mdc-typography--subtitle2">A nice little flower</h3>
        </div>
        <div class="fp-my-card__secondary mdc-typography--body2">A flower, sometimes known as a bloom or blossom, is the reproductive structure found in flowering plants.</div>

    </div>
    <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button">Action 1</button>
            <button class="mdc-button mdc-card__action mdc-card__action--button">Action 2</button>
        </div>
        <div class="mdc-card__action-icons">
            <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>
            <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>
        </div>
    </div>
</div>