<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" href="../static/resources/css/style.css"/>

        <title>My Account</title>
    </head>

    <body>
        <h1>My Account</h1>
        <div th:include="navigation :: navigation"></div>

        <form method="post" role="form" id="form" th:action="@{/account}" th:object="${form}">
            <!-- First Name, Last Name -->
            <div style="display: flex;">
                <div class="form-group" style="flex: 1;">
                    <label for="firstName" class="bmd-label-floating">First Name</label>
                    <input type="text" class="form-control" id="firstName" th:field="*{firstName}" readonly>
                </div>
                <div class="form-group" style="flex: 1;">
                    <label for="lastName" class="bmd-label-floating">Last Name</label>
                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}" readonly>
                </div>
            </div>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName') || #fields.hasErrors('lastName') || #fields.hasErrors('username')}"
                                             th:text="${#fields.errors('firstName') + ' ' + #fields.errors('lastName') + #fields.errors('username')}" role="alert">
            </div>

            <!-- E-Mail -->
            <div class="form-group">
                <label for="email" class="bmd-label-floating">E-Mail</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" readonly>
            </div>
            <div class="alert alert-warning" th:each="error : ${#fields.errors('email')}" th:text="${error}" role="alert"></div>

            <!-- Phone -->
            <div class="form-group">
                <label for="phone" class="bmd-label-floating">Phone</label>
                <input type="tel" class="form-control" id="phone" th:field="*{phone}" readonly>
            </div>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('phone')}" th:text="${#fields.errors('phone') + ''}" role="alert"></div>

            <button type="button" id="edit" onclick="toggleForm()" class="btn btn-default">Edit</button>
            <button type="submit" id="submit" class="btn btn-primary btn-raised" style="display: none;">Submit</button>
        </form>

        <!--
        <form>
            <!-- Password -- >
            <div class="form-group" style="margin-bottom: 25px;">
                <label for="password" class="bmd-label-floating">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" disabled="true" required>
                <span class="bmd-help">We'll never share your password with anyone else.</span>
            </div>
        </form>
        -->


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
        <script>
            $(function () {
                $('body').bootstrapMaterialDesign();
                $(".alert")[0] ? toggleForm() : '';
            });

            function toggleForm() {
                $('form#form :input').each(function() {
                   ($('input').attr('readonly')) ? $('input').removeAttr('readonly') : $('input').attr('readonly', true);
                });

                if ($('#edit').text() === 'Cancel') {
                    $('#edit').text('Edit');
                    $('#submit').css('display', 'none');
                    return
                }
                $('#edit').text('Cancel');
                $('#submit').css('display', '');
            }
        </script>
    </body>
</html>