<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounting</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('accounting')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <h4 th:if="${transactions.empty}">No transactions!</h4>

            <div class="fs-mdl-wrapper" th:unless="${transactions.empty}">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">ID</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each="transaction : ${transactions}">
                        <td class="mdl-data-table__cell--non-numeric" th:text="${transaction.id}"></td>
                        <td th:text="${transaction.type}"></td>
                        <td th:text="${#temporals.format(transaction.dateCreated, 'dd.MM.yyyy HH:mm')}"></td>
                        <td th:text="'EUR ' + ${#numbers.formatDecimal(transaction.totalPrice.number, 0, 'COMMA', 2, 'POINT')}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <t>
                        <td>Sum</td>
                        <td></td>
                        <td></td>
                        <td th:text="'EUR ' + ${#numbers.formatDecimal(total.number, 0, 'COMMA', 2, 'POINT')}"></td>
                    </t>
                    </tfoot>
                </table>
            </div>

            <button th:replace="fragments/floating_action_button :: floating_action_button(@{/accounting/transaction/add})"></button>
        </div>
    </div>
</main>
</body>
</html>