<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('account')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <div th:if="${param.success}" class="fs-snackbar-text" role="alert" hidden>Information saved successfully!</div>
            <h5 th:if="${form.isEmpty}" class="mdc-typography--headline5">This user does not exist!</h5>

            <!-- Edit Account Form -->
            <form method="post" role="form" id="form" name="form" class="fs-form" th:unless="${form.isEmpty}" th:action="${form.action}" th:object="${form}">
                <!-- First Name, Last Name -->
                <div class="fs-form__row">
                    <div class="mdc-text-field">
                        <input type="text" id="firstName" class="mdc-text-field__input" th:field="*{firstName}">
                        <label for="firstName" class="mdc-floating-label">First Name</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <div class="mdc-text-field">
                        <input type="text" id="lastName" class="mdc-text-field__input" th:field="*{lastName}">
                        <label for="lastName" class="mdc-floating-label">Last Name</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>

                <div th:if="${#fields.hasErrors('firstName') || #fields.hasErrors('lastName')}"
                     th:text="${#fields.errors('firstName') + ' ' + #fields.errors('lastName')}"
                     role="alert" class="fs-snackbar-text" hidden>
                    test
                </div>

                <!-- E-Mail -->
                <div class="mdc-text-field">
                    <input type="email" id="email" class="mdc-text-field__input" th:field="*{email}">
                    <label for="email" class="mdc-floating-label">E-Mail</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div th:each="error : ${#fields.errors('email')}" th:text="${error}" class="fs-snackbar-text" role="alert" hidden></div>

                <!-- Phone -->
                <div class="mdc-text-field">
                    <input type="tel" id="phone" class="mdc-text-field__input" th:field="*{phone}">
                    <label for="phone" class="mdc-floating-label">Phone</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div th:each="error : ${#fields.errors('phone')}" th:text="${error}" class="fs-snackbar-text" role="alert" hidden></div>

                <button type="submit" id="submit" class="mdc-button mdc-button--raised">Submit</button>
                <button type="button" class="mdc-button mdc-button--raised" onclick="window.location = document.form.action + '/changepass'">
                    Change Password
                </button>
            </form>
        </div>
    </div>
</main>
</body>
</html>