<html th:replace="~{layouts/dialog :: layout(~{::title}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.account.changepass}">Change Password</title>
</head>
<body>
<header th:replace="fragments/header :: header_dialog (title = #{title.account.changepass}, cancel_destination = ${form.action})">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <h5 th:if="${form.isEmpty}" th:text="#{user.notexist}" class="mdc-typography--headline5"></h5>

            <form method="post" role="form" id="passwordForm" class="fs-form" th:unless="${form.isEmpty}" th:action="${form.action + '/changepass'}" th:object="${form}">
                <div class="mdc-text-field">
                    <input type="password" id="newPassword" class="mdc-text-field__input" th:field="*{password}">
                    <label for="newPassword" class="mdc-floating-label" th:text="#{user.password.new}"></label>
                    <div class="mdc-line-ripple"></div>
                </div>

                <button type="button" class="mdc-button" onclick="window.history.back()" th:text="#{menu.cancel}"></button>
                <button type="submit" id="submitPassword" class="mdc-button mdc-button--raised" th:text="#{menu.submit}"></button>
            </form>
        </div>
    </div>
</main>
</body>
</html>