<html th:replace="~{layouts/dialog :: layout(~{::title}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Items</title>
</head>
<body>
<header th:replace="fragments/header :: header_dialog (@{/products})">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <p>Addiere <span th:text="${product.name}">productname</span> zum Warenkorb</p>
            <p><i><span th:text="${product.description}">productdescription</span></i></p>
            <form method="post" action="/cart/add">
                <input type="hidden" name="pid" value="0" th:value="${product.id}"/>
                Wähle Anzahl: <input type="text" pattern="(\d*)" value="1" name="quantity">
                <div th:if="${message}" th:text="${message}"></div>
                <button type="submit">Hinzufügen</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>