<html th:replace="~{layouts/default :: layout(~{::title}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>
<header th:replace="fragments/header :: header_catalog">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <div class="fs-card-wrapper">
                <th:block th:each="bouquet : ${bouquets}">
                    <div th:replace="fragments/bouquet_card :: bouquet_card (bouquet=${bouquet})"></div>
                </th:block>
            </div>
        </div>
    </div>
    <button th:replace="fragments/floating_action_button :: floating_action_button"></button>
</main>
</body>
</html>