<html th:replace="~{layouts/dialog :: layout(~{::title}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Cart</title>
</head>
<body>
<header th:replace="fragments/header :: header_dialog (@{/products})">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div th:unless="${cart.empty}" class="fs-content-wrapper">
            <table width="70%">
                <thead>
                    <tr>
                        <th width="20%">Titel</th>
                        <th width="35%">Beschreibung</th>
                        <th width="10%">Anzahl</th>
                        <th width="15%">Preis pro Artikel</th>
                        <th width="10%">Bearbeiten</th>
                        <th width="10%">Entfernen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${cart}">
                        <td th:text="${item.product.name}">Tulpe</td>
                        <td th:text="${item.product.description}">Eine Blume</td>
                        <td th:text="${item.quantity}">15</td>
                        <td th:text="${item.product.price}">EUR 10</td>
                        <td>
                            <form method="post" th:action="@{/cart/edit?id={id} (id=${item.id})}">
                                <input name="pid" th:value="${item.product.id}" hidden>
                                <input type="text" pattern="(\d*)" th:value="${item.quantity}" name="quantity" id="quantity">
                                <label for="quantity">Anzahl</label>
                                <button type="submit">Bearbeiten</button>
                            </form>
                        </td>
                        <td>
                            <a th:href="@{/cart/remove?id={id} (id=${item.id})}">
                                <button type="button">Entfernen</button>
                            </a>
                        </td>
                </tr>
                </tbody>
            </table>
            Gesamt: <span th:text="${cart.price}">1337</span><br />
            <form sec:authorize="hasRole('ROLE_CUSTOMER')" method="post" th:action="@{/checkout}">
                <button th:unless="${cart.empty}" type="submit">Kaufen</button>
            </form>
            <div th:if="${message}" th:text="${message}" class="fs-snackbar-text" hidden></div>
            <form th:action="@{/}">
                <button type="submit">Weitershoppen</button>
            </form>
        </div>
        <div th:if="${cart.empty}" class="fs-content-wrapper">
            <h2>Dein Warenkorb ist leer.</h2>
            <form sec:authorize="hasRole('ROLE_CUSTOMER')" method="post" th:action="@{/checkout}">
                <button th:unless="${cart.empty}" type="submit">Kaufen</button>
            </form>
            <div th:if="${message}" th:text="${message}"></div>
            <form th:action="@{/}">
                <button type="submit">Weitershoppen</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>