<html th:replace="~{layouts/dialog :: layout(~{::title}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Items</title>
</head>
<body>
<header th:replace="fragments/header :: header_dialog (@{/products})">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Beschreibung</th>
                        <th>Anzahl</th>
                        <th>Preis pro Artikel</th>
                        <th>Bearbeiten</th>
                        <th>Entfernen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${cart}">
                        <td th:text="${item.product.name}">Tulpe</td>
                        <td th:text="${item.product.description}">Eine Blume</td>
                        <td th:text="${item.quantity}">15</td>
                        <td th:text="${item.product.price}">EUR 10</td>
                        <td>
                            <!--TODO: implement functionality-->
                            <button type="button">Bearbeiten</button>
                        </td>
                        <td>
                            <!--TODO: implement functionality-->
                            <button type="button">Entfernen</button>
                        </td>
                </tr>
                </tbody>
            </table>
            Gesamt: <span th:text="${cart.price}">1337</span>
            <form sec:authorize="hasRole('ROLE_CUSTOMER')" method="post" th:action="@{/checkout}">
                <button th:unless="${cart.empty}" type="submit">Kaufen</button>
            </form>
            <form th:action="@{/}">
                <button type="submit">Weitershoppen</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>