<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{title.event.list}">Events</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('events')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <h4 th:if="${events.isEmpty() and privateEvents.isEmpty()}" th:text="#{event.list.empty}"></h4>

            <div class="fs-mdl-wrapper" th:unless="${events.isEmpty() and privateEvents.isEmpty()}">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" th:unless="${events.isEmpty()}" id="fs-primaryTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th th:text="#{event.title}" class="mdl-data-table__cell--non-numeric"></th>
                        <th th:text="#{event.begin}"></th>
                        <th th:text="#{event.end}"></th>
                        <th th:text="#{event.created}"></th>
                        <th sec:authorize="hasRole('ROLE_BOSS')"></th>
                        <th sec:authorize="hasRole('ROLE_BOSS')"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="event : ${events}" th:unless="${event.isPrivate}">
                        <td><a th:href="@{/event/show?id={id} (id=${event.id})}"
                               class="material-icons mdc-top-app-bar__action-item">pageview</a></td>
                        <td th:text="${event.title}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${event.formatedBeginTime}"></td>
                        <td th:text="${event.formatedEndTime}"></td>
                        <td th:text="${event.formatedCreatedTime}"></td>
                        <td sec:authorize="hasRole('ROLE_BOSS')">
                            <a th:href="@{/event/edit?id={id} (id=${event.id})}" class="material-icons mdc-top-app-bar__action-item">
                                settings
                            </a>
                        </td>
                        <td sec:authorize="hasRole('ROLE_BOSS')">
                            <a th:href="@{/event/remove?id={id} (id=${event.id})}" class="material-icons mdc-top-app-bar__action-item">
                                delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="fs-mdl-wrapper" th:unless="${privateEvents.isEmpty()}">
                    <h5 th:text="#{event.list.private}" style="text-align: center;"></h5>
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="fs-secondaryTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th th:text="#{event.title}" class="mdl-data-table__cell--non-numeric"></th>
                            <th th:text="#{event.begin}"></th>
                            <th th:text="#{event.end}"></th>
                            <th th:text="#{event.created}"></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="event : ${privateEvents}" th:if="${event.isPrivate}">
                            <td><a th:href="@{/event/show?id={id} (id=${event.id})}"
                                   class="material-icons mdc-top-app-bar__action-item">pageview</a></td>
                            <td th:text="${event.title}" class="mdl-data-table__cell--non-numeric"></td>
                            <td th:text="${event.formatedBeginTime}"></td>
                            <td th:text="${event.formatedEndTime}"></td>
                            <td th:text="${event.formatedCreatedTime}"></td>
                            <td>
                                <a th:href="@{/event/edit?id={id} (id=${event.id})}" class="material-icons mdc-top-app-bar__action-item">
                                    settings
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/event/remove?id={id} (id=${event.id})}" class="material-icons mdc-top-app-bar__action-item">
                                    delete
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button sec:authorize="hasRole('ROLE_BOSS')"
            th:replace="fragments/floating_action_button :: floating_action_button(path = @{/event/add})"></button>
</main>
</body>
</html>