<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.home}">Home</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('home')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <div class="fs-mdl-wrapper">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{user.role}"></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{user.username}"></th>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{user.password}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" th:text="#{role.BOSS}"></td>
                        <td class="mdl-data-table__cell--non-numeric">rosafloris</td>
                        <td class="mdl-data-table__cell--non-numeric">pass</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" th:text="#{role.WHOLESALER}"></td>
                        <td class="mdl-data-table__cell--non-numeric">maxgrosshandel</td>
                        <td class="mdl-data-table__cell--non-numeric">pass</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" th:text="#{role.CUSTOMER}"></td>
                        <td class="mdl-data-table__cell--non-numeric">johndoe</td>
                        <td class="mdl-data-table__cell--non-numeric">pass</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" th:text="#{role.CUSTOMER}"></td>
                        <td class="mdl-data-table__cell--non-numeric">lenamaier</td>
                        <td class="mdl-data-table__cell--non-numeric">pass</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${param.logout}" th:text="#{snackbar.logout}" class="fs-snackbar-text" role="alert" hidden>
                Logout successful!
            </div>
        </div>
    </div>
</main>
</body>
</html>