<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('inventory')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Base price</th>
                        <th>Quantity</th>
                        <th> Deficit</th>
                    </tr>
                </thead>
                <tbody th:remove="all-but-first">
                    <tr th:each=" item : ${inventory}">
                        <td th:text="${item.product.name}">Tulpe</td>
                        <td th:text="${item.product.price}">3</td>
                        <td th:text="${{item.quantity}}">5</td>
                        <td>
                            <form method="request" th:action="@{/products/items/stock/deficit/{id}(id=${item.id})}">
                                <input type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="deficit">
                                <button type="submit">
                                    deficit
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button th:replace="fragments/floating_action_button :: floating_action_button(@{/products/items/stock/add})"></button>
        </div>
    </div>
</main>
</body>
</html>