<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{title.inventory}">Inventory</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('inventory')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <div class="fs-mdl-wrapper">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{inventory.item}"></th>
                        <th th:text="#{inventory.price.base}"></th>
                        <th th:text="#{inventory.quantity}"></th>
                        <th th:text="#{inventory.deficit}"></th>
                        <th th:text="#{inventory.reorder}"></th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each=" item : ${inventory}">
                        <td class="mdl-data-table__cell--non-numeric" th:text="${item.product.name}"></td>
                        <td th:text="'EUR ' + ${#numbers.formatDecimal(item.product.basePrice.number, 0, 'COMMA', 2, 'POINT')}"></td>
                        <td th:text="${{item.quantity}}"></td>
                        <td>
                            <form method="post" th:action="@{/items/deficit/{id}(id=${item.id})}" class="fs-table-input">
                                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?"
                                       name="deficitQuantity" th:object="${deficitQuantity}">
                                <span class="mdl-textfield__error">Input is not a number!</span>
                                <button class="mdl-button mdl-js-button mdl-button--colored" type="submit"
                                        th:text="#{inventory.deficit}"></button>
                            </form>
                        </td>
                        <td>
                            <form method="post" th:action="@{/items/reorder/{id}(id=${item.id})}" class="fs-table-input">
                                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?"
                                       name="reorderQuantity" th:object="${reorderQuantity}">
                                <span class="mdl-textfield__error">Input is not a number!</span>
                                <button class="mdl-button mdl-js-button mdl-button--colored" type="submit"
                                        th:text="#{inventory.reorder}"></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${param.deficit}" th:text="#{inventory.deficit.success}" class="fs-snackbar-text" role="alert"
                 hidden></div>
            <div th:if="${param.reorder}" th:text="#{inventory.reorder.success}" class="fs-snackbar-text" role="alert"
                 hidden></div>
            <div th:if="${message}" th:text="#{${message}}" class="fs-snackbar-text" role="alert" hidden></div>

            <button th:replace="fragments/floating_action_button :: floating_action_button(path = @{/items/add})"></button>
        </div>
    </div>
</main>
</body>
</html>