<html th:replace="~{layouts/dialog :: layout(~{::title}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Item</title>
</head>
<body>
<header th:replace="fragments/header :: header_dialog (@{/products/items/stock})">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">a
        <div class="fs-content-wrapper">
            <form method="post" role="post" th:action="@{/products/items/stock/add}">
                <div>
                    <input type="text" name="name" id="name" th:object="${name}">
                    <label  for="name">Name</label>
                </div>
                <div>
                    <input type="text" name="price" id="price" th:object="${price}">
                    <label for="price">Price</label>
                </div>
                <div>
                    <input type="text" name="amount" id="amount" th:object="${amount}">
                    <label for="amount">Amount</label>
                </div>
                <div>
                    <input type="text" name="description" id="description" th:object="${description}">
                    <label for="amount">Description</label>
                </div>
                <button type="submit">save</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>