<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('login')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <form role="form" class="fs-form" th:action="@{/login}" method="post">
                <div class="mdc-text-field">
                    <input type="text" id="username" name="username" autofocus="autofocus" class="mdc-text-field__input" required>
                    <label for="username" class="mdc-floating-label">Username</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <p class="mdc-text-field-helper-text" aria-hidden="true">
                    Your username is your first and last name combined.
                </p>

                <div class="mdc-text-field">
                    <input type="password" id="password" name="password" class="mdc-text-field__input" required>
                    <label for="password" class="mdc-floating-label">Password</label>
                    <div class="mdc-line-ripple"></div>
                </div>

                <div th:if="${param.error}" class="fs-snackbar-text" role="alert" hidden>Invalid username or password!</div>

                <button type="submit" class="mdc-button mdc-button--raised">Login</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>