<html th:replace="~{layouts/dialog :: layout(~{::title}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{title.login}">Sign in</title>
</head>
<body>
<header th:replace="fragments/header :: header_dialog (title = #{title.login}, cancel_destination = @{/})">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <form role="form" class="fs-form" th:action="@{/login}" method="post">
                <div class="mdc-text-field">
                    <input type="text" id="username" name="username" autofocus="autofocus" class="mdc-text-field__input" required>
                    <label for="username" class="mdc-floating-label" th:text="#{user.username}"></label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <p class="mdc-text-field-helper-text" aria-hidden="true" th:text="#{user.username.helper}"></p>

                <div class="mdc-text-field">
                    <input type="password" id="password" name="password" class="mdc-text-field__input" required>
                    <label for="password" class="mdc-floating-label" th:text="#{user.password}"></label>
                    <div class="mdc-line-ripple"></div>
                </div>

                <button type="submit" class="mdc-button mdc-button--raised" th:text="#{menu.login}">Sign in</button>
            </form>

            <div th:if="${param.error}" class="fs-snackbar-text" role="alert" hidden th:text="#{snackbar.login.error}"></div>
        </div>
    </div>
</main>
</body>
</html>