<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <form role="form" th:action="@{/login}" method="post">
                <div>
                    <input type="text" id="username" name="username" autofocus="autofocus" required>
                    <label for="username">Username</label>
                    <span>Your username is your first and last name combined.</span>
                </div>
                <div>
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                    <span>We'll never share your password with anyone else.</span>
                </div>
                <div th:if="${param.error}" role="alert">Invalid username or password!</div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>