<html th:replace="~{layouts/dialog :: layout(~{::title}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Confirm Order</title>
</head>
<body>
<header th:replace="fragments/header :: header_dialog (@{/products})">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <div th:if="${cart.empty}">
                <h5 class="mdc-typography--headline5">Dein Warenkorb ist leer.</h5>
            </div>

            <div class="fs-mdl-wrapper" th:unless="${cart.empty}">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Produkt</th>
                        <th>Beschreibung</th>
                        <th>Anzahl</th>
                        <th>Preis pro Stück</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${cart}">
                        <td class="mdl-data-table__cell--non-numeric" th:text="${item.product.name}">Tulpe</td>
                        <td th:text="${item.product.description}">Eine Blume</td>
                        <td th:text="${item.quantity}">15</td>
                        <td th:text="${item.product.price}">EUR 10</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>Gesamt:</td>
                        <td></td>
                        <td></td>
                        <td th:text="${cart.price}"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <div class="fs-buttons">
                <button type="submit" class="mdc-button" onclick="window.location='/cart'">Zurück</button>
                <form sec:authorize="hasRole('ROLE_CUSTOMER')" method="post" th:action="@{/completeorder}">
                    <button type="submit" class="mdc-button mdc-button--raised">Bestätigen</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>