<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{title.order} + ' ' + (${order} ? ${order.id} : '')">Order</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('orders')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <h3 th:unless="${order}" th:text="#{order.notexist}"></h3>

            <div class="fs-mdl-wrapper" th:if="${order}">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th colspan="3" th:text="#{order.info(${order.id}, ${#temporals.format(order.dateCreated, 'dd.MM.yyyy HH:mm')}, ${order.orderStatus})}"></th>
                    </tr>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{order.product}"></th>
                        <th th:text="#{order.quantity}"></th>
                        <th th:text="#{order.price.pp}"></th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each="orderLine : ${order.orderLines}">
                        <td class="mdl-data-table__cell--non-numeric" th:text="${orderLine.productName}"></td>
                        <td th:text="${orderLine.quantity}"></td>
                        <td th:text="'EUR ' + ${#numbers.formatDecimal(orderLine.price.number, 0, 'COMMA', 2, 'POINT')}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr th:each="chargeLine : ${order.chargeLines}">
                        <td th:text="${chargeLine.description} + ':'"></td>
                        <td></td>
                        <td th:text="'EUR ' + ${#numbers.formatDecimal(chargeLine.price.number, 0, 'COMMA', 2, 'POINT')}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td th:text="#{order.price.total}"></td>
                        <td th:text="'EUR ' + ${#numbers.formatDecimal(order.totalPrice.number, 0, 'COMMA', 2, 'POINT')}"></td>
                    </tr>
                    </tfoot>
                </table>

                <div th:if="${param.success}" th:text="#{order.thankyou}" class="fs-snackbar-text" role="alert" hidden></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>