<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{title.products}">Products</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('products')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(~{::section})">
    <!-- since this is a nested replace it can't be empty -->
    <section>
        <a th:href="@{/cart}" class="material-icons mdc-top-app-bar__action-item" aria-label="Cart" th:title="#{cart}">shopping_cart</a>
        <button th:replace="fragments/flags :: #{lang.flag}"></button>
    </section>
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <div class="fs-card-wrapper">
                <th:block th:each="product : ${products}">
                    <div th:replace="fragments/product_card :: product_card (product=${product})"></div>
                </th:block>
            </div>

            <div th:if="${newUser}" th:text="#{snackbar.welcome(${newUser})}" class="fs-snackbar-text" role="alert" hidden></div>
        </div>
    </div>
    <button sec:authorize="hasRole('ROLE_BOSS')"
            th:replace="fragments/floating_action_button :: floating_action_button(path = @{/products/add})"></button>
</main>
</body>
</html>