<html th:replace="~{layouts/dialog :: layout(~{::title}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product</title>
</head>
<body>
<header th:replace="fragments/header :: header_dialog (title = 'Edit Product', cancel_destination = @{/products})">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <h1>Edit Product</h1>
            <form method="post" th:action="@{/products/__${product.id}__}" class="fs-form">
                <input type="text" th:field="${product.name}" class="fs-form__row">name</input>
                <input type="text" th:field="${product.description}" class="fs-form__row">description</input>
                <span th:text="${product.price}">price</span>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>