<html th:replace="~{layouts/dialog :: layout(~{::title}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product</title>
</head>
<body>
<header th:replace="fragments/header :: header_dialog (@{/products})">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <div class="fs-product-detail">
                <div class="fs-product-detail__image"></div>
                <h4 class="mdc-typography--headline4" th:text="${product.name}">Product Detail</h4>

                <span class="mdc-typography--body1" th:text="${product.description}">description</span>

                <h5 class="mdc-typography--headline5">Items</h5>

                <th:block th:each="item : ${product.flowerShopItems}">
                    <span class="mdc-typography--body2" th:text="'1 x ' + ${item.name}">item</span>
                </th:block>

                <h5 class="mdc-typography--headline5">Services</h5>

                <th:block th:each="service : ${product.flowerShopServices}">
                    <span class="mdc-typography--body2" th:text="'1 x ' + ${service.name}">item</span>
                </th:block>

                <h5 class="mdc-typography--headline5" th:text="${product.price}">Price</h5>
            </div>
        </div>
    </div>
    <button th:replace="fragments/floating_action_button :: floating_action_button(@{/cart/add/{id}(id=${product.id})})"></button>
</main>
</body>
</html>