<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <!-- Registration Form -->
            <form method="post" role="form" id="form" th:action="@{/register}" th:object="${form}">
                <!-- First Name, Last Name -->
                <div>
                    <div>
                        <input type="text" id="firstName" th:field="*{firstName}" required>
                        <label for="firstName" >First Name</label>
                    </div>
                    <div >
                        <input type="text" id="lastName" th:field="*{lastName}" required>
                        <label for="lastName" >Last Name</label>
                    </div>
                </div>

                <div th:if="${#fields.hasErrors('firstName') || #fields.hasErrors('lastName')}"
                     th:text="${#fields.errors('firstName') + ' ' + #fields.errors('lastName')}"
                     role="alert">
                </div>
                <div th:if="${#fields.hasErrors('username')}"
                     th:text="'An account with the username ' + *{username} + ' is already registered!'"
                     role="alert">
                </div>

                <!-- E-Mail -->
                <div >
                    <input type="email" class="form-control" id="email" th:field="*{email}" required>
                    <label for="email" >E-Mail</label>
                </div>
                <div  th:each="error : ${#fields.errors('email')}" th:text="${error}" role="alert"></div>

                <!-- Phone -->
                <div>
                    <input type="tel" id="phone" th:field="*{phone}" required>
                    <label for="phone" >Phone</label>
                </div>
                <div  th:each="error : ${#fields.errors('phone')}" th:text="${error}" role="alert"></div>

                <!-- Password -->
                <div>
                    <input type="password" id="newPassword" th:field="*{password}" required>
                    <label for="newPassword" >Password</label>
                    <span class="bmd-help">We'll never share your password with anyone else.</span>
                </div>
                <div>
                    <input type="password" id="newPasswordRepeat" th:field="*{passwordRepeat}" required>
                    <label for="newPasswordRepeat" >Repeat Password</label>
                </div>
                <div th:if="${#fields.hasErrors('passwordRepeat') || #fields.hasErrors('password')}"
                     th:text="${#fields.errors('passwordRepeat') + ' ' + #fields.errors('password')}"
                     role="alert"
                     id="pass">
                    Passwords have to match!
                </div>

                <button type="reset">Cancel</button>
                <button type="submit" id="submitButton">Register</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>