<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.register}">Register</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('register')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <form role="form" id="form" class="fs-form" th:object="${form}" th:action="@{/register}" method="post">
                <!-- First Name, Last Name -->
                <div class="fs-form__row">
                    <div class="mdc-text-field">
                        <input type="text" id="firstName" class="mdc-text-field__input" th:field="*{firstName}">
                        <label for="firstName" class="mdc-floating-label" th:text="#{user.firstname}"></label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <div class="mdc-text-field">
                        <input type="text" id="lastName" class="mdc-text-field__input" th:field="*{lastName}">
                        <label for="lastName" class="mdc-floating-label" th:text="#{user.lastname}"></label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('firstName') || #fields.hasErrors('lastName')}"
                     th:utext="${#fields.errors('firstName') + ' ' + #fields.errors('lastName')}"
                     class="fs-snackbar-text" role="alert" hidden>
                </div>
                <div th:each="error : ${#fields.errors('username')}" th:text="${error}" class="fs-snackbar-text" role="alert" hidden></div>

                <!-- E-Mail -->
                <div class="mdc-text-field">
                    <input type="email" id="email" class="mdc-text-field__input" th:field="*{email}">
                    <label for="email" class="mdc-floating-label" th:text="#{user.email}"></label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div th:each="error : ${#fields.errors('email')}" th:text="${error}" class="fs-snackbar-text" role="alert" hidden></div>

                <!-- Phone -->
                <div class="mdc-text-field">
                    <input type="tel" id="phone" class="mdc-text-field__input" th:field="*{phone}">
                    <label for="phone" class="mdc-floating-label" th:text="#{user.phone}"></label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div th:each="error : ${#fields.errors('phone')}" th:text="${error}" class="fs-snackbar-text" role="alert" hidden></div>

                <!-- Password -->
                <div class="mdc-text-field">
                    <input type="password" id="newPassword" class="mdc-text-field__input" th:field="*{password}">
                    <label for="newPassword" class="mdc-floating-label" th:text="#{user.password}"></label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <p id="username-helper-text" class="mdc-text-field-helper-text" aria-hidden="true" th:text="#{user.password.helper}"></p>
                <div class="mdc-text-field">
                    <input type="password" id="newPasswordRepeat" class="mdc-text-field__input" th:field="*{passwordRepeat}">
                    <label for="newPasswordRepeat" class="mdc-floating-label" th:text="#{user.password.confirm}"></label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div th:if="${#fields.hasErrors('passwordRepeat') || #fields.hasErrors('password')}"
                     th:text="${#fields.errors('passwordRepeat') + ' ' + #fields.errors('password')}"
                     class="fs-snackbar-text" role="alert" hidden>
                    Passwords have to match!
                </div>

                <button type="submit" class="mdc-button mdc-button--raised" th:text="#{menu.register}"></button>
                <button type="button" class="mdc-button" onclick="window.history.back()" th:text="#{menu.cancel}"></button>
            </form>
        </div>
    </div>
</main>
</body>
</html>