<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{title.reorders}">Reorders</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('reorders')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <h4 th:if="${subTransactions.empty}" th:text="#{reorder.empty}"></h4>

            <div class="fs-mdl-wrapper" th:unless="${subTransactions.empty}">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th th:text="#{reorder.item}" class="mdl-data-table__cell--non-numeric"></th>
                        <th th:text="#{reorder.quantity}"></th>
                        <th th:text="#{reorder.price}"></th>
                        <th th:text="#{reorder.send}" sec:authorize="hasRole('ROLE_WHOLESALER')"></th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each="subTransaction : ${subTransactions}">
                        <td class="mdl-data-table__cell--non-numeric" th:text="${subTransaction.flower}"></td>
                        <td th:text="${subTransaction.quantity}"></td>
                        <td th:text="'EUR ' + ${#numbers.formatDecimal(subTransaction.price.negate().number, 0, 'COMMA', 2, 'POINT')}"></td>
                        <td sec:authorize="hasRole('ROLE_WHOLESALER')">
                            <form method="post" th:action="@{/reorders/send/{id}(id=${subTransaction.id})}">
                                <button th:text="#{reorder.send}" class="mdl-button mdl-js-button mdl-button--colored"
                                        type="submit"></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${param.success}" th:text="#{reorder.success}" class="fs-snackbar-text" hidden></div>
        </div>
    </div>
</main>
</body>
</html>