<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('services')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <div class="fs-mdl-wrapper">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Service</th>
                        <th>Base price</th>

                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each=" service: ${services}">
                        <td class="mdl-data-table__cell--non-numeric" th:text="${service.name}">watering flowers</td>
                        <td th:text="${service.price}">3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button th:replace="fragments/floating_action_button :: floating_action_button(path = @{/products/services/add})"></button>
        </div>
    </div>
</main>
</body>
</html>