<html th:replace="~{layouts/dialog :: layout(~{::title}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Service</title>
</head>
<body>
<header th:replace="fragments/header :: header_dialog (title = 'Add Service', cancel_destination = @{/products/services})">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <form method="post" role="post" class="fs-form" th:action="@{/products/services/add}">
                <div class="mdc-text-field">
                    <input type="text" name="name" id="name" class="mdc-text-field__input" th:object="${name}">
                    <label for="name" class="mdc-floating-label">Name</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div class="mdc-text-field">
                    <input type="text" name="price" id="price" class="mdc-text-field__input" th:object="${price}">
                    <label for="price" class="mdc-floating-label">Price</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <button type="submit" class="mdc-button mdc-button--raised ">
                    Save
                </button>
            </form>
        </div>
    </div>
</main>
</body>
</html>
