<html th:replace="~{layouts/default :: layout(~{::title}, ~{::aside}, ~{::header}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.users}">Registered Users</title>
</head>
<body>
<aside th:replace="fragments/drawer :: drawer('users')">
    <!-- since this is a nested replace it can't be empty -->
    Drawer
</aside>
<header th:replace="fragments/header :: header_catalog(_)">
    <!-- since this is a nested replace it can't be empty -->
    Header
</header>
<main>
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="fs-content-wrapper">
            <div class="fs-mdl-wrapper">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" th:text="#{user.username}"></th>
                        <th th:text="#{user.role}"></th>
                        <th>E-Mail</th>
                        <th th:text="#{user.phone}"></th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each=" user : ${userList}">
                        <td class="mdl-data-table__cell--non-numeric"><a th:href="@{/account/{id} (id=${user.userAccount.id})}" th:text="${user.userAccount.id}"></a></td>
                        <td th:text="#{'role.' + ${user.roleString}}"></td>
                        <td th:text="${user.userAccount.email}"></td>
                        <td th:text="${user.phone}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>